<span *ngFor="let item of fields">
  <div class="row" *ngIf="item.type!='object'">
    <div class="col-6">
      {{resources[item.name]}}:
    </div>
    <div class="col-6">
      <span *ngIf="item.type == 'link';else elseContent">
          <a href="{{model[item.name]}}" target="_blank"> <i class="fa fa-external-link"></i></a>
      </span>
      <ng-template #elseContent>
        <span>
          {{model[item.name]}}
        </span>
      </ng-template>
    </div>
  </div>

  <span *ngIf="item.type=='object'">
    <ngx-sideView *ngIf="model[item.name]" [model]="model[item.name]" [resources]="model[item.name].resources" [fields]="model[item.name].fields"></ngx-sideView>
  </span>
</span>
