<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <input #gb class="form-control" type="text" pInputText size="50" placeholder="Search...">
</div>
<p-dataTable [(value)]="model" [rows]="25" [paginator]="true" [pageLinks]="3" [responsive]="true" [stacked]="stacked" expandableRows="colsExpansion"
  [globalFilter]="gb" resizableColumns="true" selectionMode="{{selectionMode}}" reorderableColumns="true" [tableStyle]="{'table-layout':'auto'}"
  [(selection)]="selectedModel" (onRowSelect)="onRowSelect($event)" [style]="{'white-space': 'unset'}" #dt>

  <p-column header="Index">
    <ng-template pTemplate="body" let-index="rowIndex">
      {{index + 1}}
    </ng-template>
  </p-column>

  <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" sortable="custom" (sortFunction)="sort($event)"></p-column>
</p-dataTable>
