<div class="row">
  <div class="col-lg-3">
    <nb-card class="full">
      <nb-card-body>
        <ngx-sideView *ngIf="selectedModel" [model]="selectedModel" [resources]="selectedModel.resources" [fields]="selectedModel.fields"></ngx-sideView>
        <span *ngIf="!selectedModel">Details View...</span>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-9">
    <ngx-showcase [model]="model" [cols]="cols" selectionMode="single" (onSelected)="selected($event)"></ngx-showcase>
  </div>
</div>
